.main-footer{
    background-color: #000000;
    border: solid 2px #3ec38c;
    
width: 100%;

padding-top: 32px;
padding-bottom: 32px;
display: flex;
justify-content:space-evenly;


}


.footer-image
{
    height: 45px;

}


.footer-notes{

    color: rgba(23, 255, 124, 0.438);
    text-align: justify;
    
}


.align-phrase{
    background-color: #000000;

    

padding-left: 100px;
padding-top: 32px;
padding-bottom: 32px;

}