.main-footer{
    background-color: #000000;
    border: solid 2px red;
    
width: 100%;

padding-top: 32px;
padding-bottom: 32px;
display: flex;
justify-content: center;

}


.footer-image
{
    height: 45px;

}


.footer-notes{
    border: solid 2px red;
    color: rgba(23, 255, 124, 0.438);
    
}


.align-phrase{
    display: flex;
    align-self: stretch;
    color: chartreuse;
}