*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


@media     
   (max-width: 800px) {
    #main-galery
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 60px;
        align-items: center;
    }

    #legend-buttom 
    {
        width: 150px;
        margin-bottom: 30px;
    }

    #galery-image
    {
        display: flex;
        justify-content: center;
    }

    .main-footer{

        display: flex;
       flex-direction: column;
        width: 20%;
        align-items: center;


    }
    .footer-image{
        width: 100px;
        height: 50px;
        padding-bottom: 20px;

    }

    #bt_label
    {
        margin-right:100%;
    
     
    }
    #main-menu
    {
        margin-left: -100%;
        transition: all .4s;
    }

  }

